{%  extends 'base.html.twig' %}

{% block title %}Salle{% endblock %}

{% block body %}
    <h2>Filtres:</h2>
    <nav>
        {{ form(form) }}
    </nav>
    {% if liste_cours is defined and liste_cours is not empty %}
        <h2>Résultats:</h2>
        <table class="table table-hover table-striped">
            <tr>
                <th>Nom</th>
                <th>Batiment</th>
                <th>Equipement</th>
                <th>Capacite</th>
            </tr>
            {% for salle in liste_salle %}
                <tr>
                    <td>{{ salle.nom }}</td>
                    <td>{{ salle.batiment }}</td>
                    <td>{{ salle.equipement }}</td>
                    <td>{{ salle.capacite }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Aucun résultat !</h2>
    {% endif %}
{% endblock %}
