{%  extends 'base.html.twig' %}

{% block title %}Salle{% endblock %}

{% block body %}
    <h2>Filtres:</h2>
    <nav>
        {{ form(form) }}
    </nav>
    {% if liste_salle is defined and liste_salle is not empty %}
        <div class="d-flex flex-row mb-3 align-items-center">
            <h2>Résultats:</h2>
            <a class="btn btn-primary ms-5" href="{{ path('salle_add') }}" role="button"><i class="fa-solid fa-plus"></i> Salle</a>
        </div>
        <table class="table table-hover table-striped">
            <tr>
                <th>Nom</th>
                <th>Batiment</th>
                <th>Equipement</th>
                <th>Capacite</th>
                <th></th>
            </tr>
            {% for salle in liste_salle %}
                <tr>
                    <td>{{ salle.nom }}</td>
                    <td>{{ salle.batiment }}</td>
                    <td>{{ salle.equipement }}</td>
                    <td>{{ salle.capacite }}</td>
                    <td>
                        <a class="btn btn-primary ms-2" href="{{ path('salle_delete', {'id':salle.id}) }}" role="button" onclick="return confirm('Êtes-vous sûr de vouloir supprimer la salle {{ salle.nom}} ?');"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="d-flex flex-row mb-3 align-items-center">
            <h2>Aucun résultat !</h2>
            <a class="btn btn-primary ms-5" href="{{ path('salle_add') }}" role="button"><i class="fa-solid fa-plus"></i> Salle</a>
        </div>
    {% endif %}
{% endblock %}
