{%  extends 'base.html.twig' %}

{% block title %}Salle{% endblock %}

{% block body %}

    <h2>Filtres:</h2>
    <nav>
        {{ form(form) }}
    </nav>



    <h2>Résultats:</h2>
    <table class="table table-hover table-striped">
        <tr>
            <th>Nom</th>
            <th>Batiment</th>
            <th>Equipement</th>
            <th>Capacite</th>
        </tr>
        <tbody>
        {% for salle in salles %}
            <tr>
                <td>{{ salle.nom }}</td>
                <td>{{ salle.batiment }}</td>
                <td>{{ salle.equipement }}</td>
                <td>{{ salle.capacite }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# <nav>
        <ul class=pagination">
            {% if nbTotalPages > 1 %}
                {% if page == 1 %}
                    <a href="">Précédent</a>
                {% else %}
                    <a href="/salle/list/{{ page - 1 }}">Précédent</a>
                {% endif %}

                {% for nbPage in 1..nbTotalPages %}
                    {% if nbPage == page %}
                        <a href="">{{ page }}</a>
                    {% else %}
                        <a href="/salle/list/{{ nbPage }}">{{ nbPage }}</a>
                    {% endif %}
                {% endfor %}


                {% if page == nbTotalPages %}
                    <a href="">Suivant</a>
                {% else %}
                    <a href="/salle/list/{{ page + 1 }}">Suivant</a>
                {% endif %}
            {% endif %}
            {% if nbTotalPages ==  1 %}
                <a href="/salle/list/1">1</a>
            {% endif %}
        </ul>
    </nav>#}
{% endblock %}
