<header class="site-header sticky-top p-3">
    <div class="container">
        <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="navbar-brand" href="#">
                <img src="{{ asset('images/logo_univ_poitiers.png') }}" alt="logo univ poitiers" height="40">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <!--
                <li><a href="#" class="nav-link px-2">Home</a></li>
                -->
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('cour_index') }}" class="nav-link px-2">Cours</a></li>
                {% endif %}
                {% if is_granted('ROLE_SCOLARITE') %}
                    <li><a href="{{ path('ue_index') }}" class="nav-link px-2">Ue</a></li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('salle_list') }}" class="nav-link px-2">Salles</a></li>
                {% endif %}
                {% if is_granted('ROLE_SCOLARITE') %}
                    <li><a href="{{ path('cursus_index') }}" class="nav-link px-2">Cursus</a></li>
                {% endif %}
                {% if is_granted('ROLE_SCOLARITE') %}
                    <li><a href="{{ path('formation_index') }}" class="nav-link px-2">Formations</a></li>
                {% endif %}
                {% if is_granted('ROLE_RH') %}
                    <li><a href="{{ path('enseignant_list') }}" class="nav-link px-2">Enseignants</a></li>
                {% endif %}
                {% if is_granted('ROLE_SCOLARITE') %}
                    <li><a href="{{ path('etudiant_index') }}" class="nav-link px-2">Etudiants</a></li>
                {% endif %}
            </ul>

            <div class="text-end">
                {% if app.user %}
                    <a class="btn btn-danger" href="{{ path('app_logout') }}" role="button">Déconnexion</a>
                {% else %}
                    <a class="btn btn-outline-light me-2" href="{{ path('app_login') }}" role="button">Connexion</a>
                {% endif %}
            </div>
        </nav>
    </div>
</header>