{% extends 'base.html.twig' %}

{% block title %}Liste des Cursus{% endblock %}

{% block body %}

    <h2>Filtres:</h2>
    <nav>
        {{ form(cursusFormulaire) }}
    </nav>
    {# on n'affiche cette parite que si la liste est défini est pas vide #}
    {% if liste_cursus is defined and liste_cursus is not empty %}
        <div class="d-flex flex-row mb-3 align-items-center">
            <h2>Résultats:</h2>
            <a class="btn btn-primary ms-5" href="{{ path('cursus_add') }}" role="button"><i class="fa-solid fa-plus"></i> Cursus</a>
        </div>
        <table class="table table-hover table-striped">
            <tr>
                <th>Niveau</th>
                <th>Nom</th>
                <th></th>
            </tr>
            {% for cursus in liste_cursus %}
                <tr>
                    <td>{{ cursus.niveau }}</td>
                    <td>{{ cursus.nom }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('cursus_edit', {'id':cursus.id}) }}" role="button"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a class="btn btn-primary ms-2" id="delete" role="button" onclick="deleteModal('le cursus', {{ cursus.id }}, '{{ cursus.nom }}')"><i class="fa-solid fa-trash"></i></a>                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="d-flex flex-row mb-3 align-items-center">
            <h2>Aucun résultat !</h2>
            <a class="btn btn-primary ms-5" href="{{ path('cursus_add') }}" role="button"><i class="fa-solid fa-plus"></i> Cursus</a>
        </div>
    {% endif %}

{% endblock %}
