{% extends 'base.html.twig' %}

{% block title %}Hello EnseignantController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>liste d'enseignant </h1>
    <div class="shadow rounded border border-danger">
        <table class="table table-hover table-striped" >
            <thead class="table-light">
                <tr>
                    {{ form_start(enseignantFilterForm) }}
                    <th>
                        Email
                        {{ form_widget(enseignantFilterForm.email_asc_or_desc, { 'attr': {'class': 'form-select form-select-sm'} }) }}
                    </th>
                    <th>
                        Nom
                        {{ form_widget(enseignantFilterForm.nom_asc_or_desc, { 'attr': {'class': 'form-select form-select-sm'} }) }}
                    </th>
                    <th>
                        Prénom
                        {{ form_widget(enseignantFilterForm.prenom_asc_or_desc, { 'attr': {'class': 'form-select form-select-sm'} }) }}
                    </th>
                    <th>
                        Statut
                        {{ form_widget(enseignantFilterForm.statut_enseignant, { 'attr': {'class': 'form-select form-select-sm'} }) }}
                    </th>
                    {{ form_end(enseignantFilterForm) }}
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for enseignant in enseignants %}
                <tr>
                    <td>{{ enseignant.personne.email }}</td>
                    <td>{{ enseignant.personne.nom }}</td>
                    <td>{{ enseignant.personne.prenom }}</td>
                    <td>{{ enseignant.StatutEnseignant.nom }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
