{% extends 'base.html.twig' %}

{% block title %}Hello EnseignantController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>liste d'enseignant </h1>
    <div class="shadow rounded">
        <table class="table table-hover table-striped" >
            <thead class="table-light">
                <tr id="form_elem">
                    {{ form_start(enseignantFilterForm, { 'attr': {'id': 'theForm'} }) }}
                    {{ form_row(enseignantFilterForm.sort_asc_or_desc, { 'attr': {'class': 'form-select form-select-sm'} }) }}
                    <th id="email">
                        Email <span id="sort_mail_arrow">⇑</span>
{#                        {{ form_widget(enseignantFilterForm.email_asc_or_desc, { 'attr': {'class': 'form-select form-select-sm'} }) }}#}
                    </th>
                    <th>
                        Nom
{#                        {{ form_widget(enseignantFilterForm.nom_asc_or_desc, { 'attr': {'class': 'form-select form-select-sm'} }) }}#}
                    </th>
                    <th>
                        Prénom
{#                        {{ form_widget(enseignantFilterForm.prenom_asc_or_desc, { 'attr': {'class': 'form-select form-select-sm'} }) }}#}
                    </th>
                    <th>
                        Statut
{#                        {{ form_widget(enseignantFilterForm.statut_enseignant, { 'attr': {'class': 'form-select form-select-sm'} }) }}#}
                    </th>
                    {{ form_end(enseignantFilterForm) }}
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for enseignant in enseignants %}
                <tr>
                    <td>{{ enseignant.personne.email }}</td>
                    <td>{{ enseignant.personne.nom }}</td>
                    <td>{{ enseignant.personne.prenom }}</td>
                    <td>{{ enseignant.StatutEnseignant.nom }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block javascripts %}
<script>
    let sort_mail_arrow = document.getElementById("sort_mail_arrow")
    if(localStorage.getItem("up_or_down") == null){
        sort_mail_arrow.innerHTML = "⇕"
    }
    sort_mail_arrow.innerHTML = localStorage.getItem("up_or_down")

    email = document.getElementById("email")
    email.addEventListener("click", sort)
    form = document.getElementById("theForm")
    function sort(){
        let sort_asc_or_desc = document.getElementById("enseignant_filter_sort_asc_or_desc")
        if(sort_mail_arrow.textContent === "⇑"){
            localStorage.setItem("up_or_down", "⇓")
            sort_mail_arrow.innerHTML = localStorage.getItem("up_or_down")
            sort_asc_or_desc.selectedIndex = 1
            form.submit();
        } else {
            localStorage.setItem("up_or_down", "⇑")
            sort_mail_arrow.innerHTML = localStorage.getItem("up_or_down")
            sort_asc_or_desc.selectedIndex = 0
            form.submit();
        }
        console.log(sort_mail_arrow.textContent)
    }
</script>
{% endblock %}