{% extends 'base.html.twig' %}

{% block title %}Liste des UE{% endblock %}

{% block body %}

    <h2>Filtres:</h2>
    <nav>
        {{ form(ueFormulaire) }}
    </nav>
    {% if liste_ues is defined and liste_ues is not null%}
        <h2>Résultats:</h2>
        <table class="table table-hover table-striped">
                <tr>
                    <th>Nom</th>
                    <th>Volume horaire</th>
                    <th>Spécialité</th>
                    <th>Cursus</th>
                    <th>Formation</th>
                </tr>
            {% for ue in liste_ues %}
                <tr>
                    <td>{{ ue.nom }}</td>
                    <td>{{ ue.volumeHoraire }}</td>
                    <td>{{ ue.specialite.nom }}</td>
                    <td>{{ ue.formations[0].cursus.nom }}</td>
                    <td>{{ ue.formations[0].nom }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Aucun résultat !</h2>
    {% endif %}

{% endblock %}
