{% extends 'base.html.twig' %}

{% block title %}Liste des UE{% endblock %}

{% block body %}

    <h2>Filtres:</h2>
    <nav>
        {{ form(ueFormulaire) }}
    </nav>
    {% if liste_ues is defined and liste_ues is not null%}
        <div class="d-flex flex-row mb-3 align-items-center">
            <h2 class="m-0">Résultats:</h2>
            <a class="btn btn-primary ms-5" href="{{ path('ue_add') }}" role="button"><i class="fa-solid fa-plus"></i> UE</a>
        </div>
        <table class="table table-hover table-striped">
                <tr>
                    <th>Nom</th>
                    <th>Volume horaire</th>
                    <th>Spécialité</th>
                    <th>Cursus</th>
                    <th>Formation</th>
                    <th></th>
                </tr>
            {% for ue in liste_ues %}
                <tr>
                    <td>{{ ue.nom }}</td>
                    <td>{{ ue.volumeHoraire }}</td>
                    <td>{{ ue.specialite.nom }}</td>
                    <td>{{ ue.formation.cursus.nom }}</td>
                    <td>{{ ue.formation.nom }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('ue_edit', {'id':ue.id}) }}" role="button"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a class="btn btn-primary ms-2" id="delete" role="button" onclick="deleteModal('l\'ue', {{ ue.id }}, '{{ ue.nom }}')"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="d-flex flex-row mb-3 align-items-center">
            <h2>Aucun résultat !</h2>
            <a class="btn btn-primary ms-5" href="{{ path('ue_add') }}" role="button"><i class="fa-solid fa-plus"></i> UE</a>
        </div>
    {% endif %}
{% endblock %}
