{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

        <div class="card mb-4">
                <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">{{ prenom }} {{ nom }}</h5>
                        <p class="text-muted mb-1">{{ role }}</p>
{#                        <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>#}
{#                        <div class="d-flex justify-content-center mb-2">#}
{#                                <button type="button" class="btn btn-primary">Follow</button>#}
{#                                <button type="button" class="btn btn-outline-primary ms-1">Message</button>#}
{#                        </div>#}
                </div>
        </div>
        <div class="card mb-4">
                <div class="card-body">
                        <div class="row">
                                <div class="col-sm-3">
                                        <p class="mb-0">Prénom, nom</p>
                                </div>
                                <div class="col-sm-9">
                                        <p class="text-muted mb-0">{{ prenom }}, {{ nom }}</p>
                                </div>
                        </div>
                        <hr>
                        <div class="row">
                                <div class="col-sm-3">
                                        <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                        <p class="text-muted mb-0">{{ email }}</p>
                                </div>
                        </div>
                        <hr>
                        <div class="row">
                                <div class="col-sm-3">
                                        <p class="mb-0">Mobile</p>
                                </div>
                                <div class="col-sm-9">
                                        <p class="text-muted mb-0">00 00 00 00 00</p>
                                </div>
                        </div>
                        <hr>
                        <div class="row">
                                <div class="col-sm-3">
                                        <p class="mb-0">Adresse</p>
                                </div>
                                <div class="col-sm-9">
                                        <p class="text-muted mb-0">Poitiers, France</p>
                                </div>
                        </div>
                </div>
        </div>

{% endblock %}